#liste{
display: none;
}

#backImg {
  border-radius: 10px;


max-height: 200px;

   
  }

  #arab{
    font-family: 'Cairo', sans-serif;
}
#arab1{
  font-family: 'Cairo', sans-serif;
}
#arab2{
  font-family: 'Cairo', sans-serif;
}
#arab3{
  font-family: 'Cairo', sans-serif;
}
#arab4{
  font-family: 'Cairo', sans-serif;
}