@font-face {
    font-family: 'Cairo';
    src: url('../src/static/Cairo-Black.ttf') format('truetype');
}


#arab{
  font-family: 'Cairo', sans-serif;
 
}
#arab99{
  font-family: 'Tajawal', sans-serif;
}